
<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2018.版权所有：Smart租车 
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="/">首页</a></li>
                    <li><a href="/contact_us">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script src="/web/js/jquery.js"></script>
<script src="/web/js/bootstrap.min.js"></script>
<script src="/web/js/jquery.prettyPhoto.js"></script>
<script src="/web/js/jquery.isotope.min.js"></script>
<script src="/web/js/main.js"></script>
<script src="/web/js/wow.min.js"></script>
</body>
</html>