<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="widget">
                    <h3>Smat 租车</h3>
                    <ul>
                        <li><a href="/company_intro">公司介绍</a></li>
                        <li><a href="/process">技术装备</a></li>
                        <li><a href="/organize">组织架构</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-4 col-sm-6">
                <div class="widget">
                    <h3>新闻中心</h3>
                    <ul>
                        <li><a href="/company_dynamic">公司动态</a></li>
                        <li><a href="/media_report">媒体报道</a></li>
                        <li><a href="/activity_report">活动报道</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-4 col-sm-6">
                <div class="widget">
                    <h3>友情链接</h3>
                    <ul>
                        <li><a href="#">百度</a></li>
                        <li><a href="#">阿里巴巴</a></li>
                        <li><a href="#">腾讯</a></li>
                        <li><a href="#">网易新闻</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2018.版权所有：Smart租车 
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="/">首页</a></li>
                    <li><a href="/admin">PC后台管理</a></li>
                    <li><a href="/manage">手机后台管理</a></li>
                    <li><a href="/contact_us">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script src="/web/js/jquery.js"></script>
<script src="/web/js/bootstrap.min.js"></script>
<script src="/web/js/jquery.prettyPhoto.js"></script>
<script src="/web/js/jquery.isotope.min.js"></script>
<script src="/web/js/main.js"></script>
<script src="/web/js/wow.min.js"></script>
</body>
</html>